<html>

<head>
    {% embed './general.styles.twig' %} {% endembed %}
    {% embed './partials/order-details.styles.twig' %} {% endembed %}
</head>

<body class="page-body">
<div class="container">
    {% block heading %}
        <div class="text-center">
            <h2>{{ translate.getValue('new.order') }} - {{ util.getWebsiteName() }}</h2>
        </div>
        <div>
            <p>{{ translate.getValue('hello') }}, <strong>{{ model.address.fullName }}!</strong></p>
            <p>{{ translate.getValue('your.order.registered') }}</p>
        </div>
    {% endblock %}

    {% embed './partials/order-details.twig' %} {% endembed %}

    {% if util.isNotNull(model.userId) %}
        <div style="margin-top: 20px; text-align: right">
            <a href="{{ util.getOrderDetailsAddress(request, model.id) }}" class="btn">
                {{ translate.getValue('view.on.website') }}
            </a>
        </div>
    {% endif %}

    {% embed './partials/footer.twig' %} {% endembed %}
</div>

</body>
</html>
