<html>

<head>
    {% embed './general.styles.twig' %} {% endembed %}
    {% embed './partials/order-details.styles.twig' %} {% endembed %}
</head>

<body class="page-body">
<div class="container">
    <h2>{{ translate.getValue('you.have.new.order') }}</h2>
    <div>
        <h3>{{ translate.getValue('from') }}: {{ model.address.fullName }}</h3>
        {% if util.isNotNull(model.userId) %}
            <p>{{ translate.getValue('registered.user') }}</p>
        {% endif %}
        <p>{{ translate.getValue('date') }}: {{ util.formatDate(model.date) }}</p>
    </div>
    {% embed './partials/order-details.twig' %} {% endembed %}

    <div style="margin-top: 20px; text-align: right">
        <a href="{{ util.getEditOrderAddress(request, model.id) }}" class="btn">
            {{ translate.getValue('manage.order') }}
        </a>
    </div>

    {% embed './partials/footer.twig' %} {% endembed %}
</div>

</body>
</html>
