<html>

<head>
    {% embed './general.styles.twig' %} {% endembed %}
</head>

<body class="page-body">
<div class="container">
    <div class="text-center">
        <h2>{{ translate.getValue('forgotten.password') }} - {{ util.getWebsiteName() }}</h2>
    </div>
    <div>
        <p>{{ translate.getValue('hello') }}, <strong>{{ model.user.username }}!</strong></p>
        <p>{{ translate.getValue('password.recovery.key.received') }}</p>
        <p>{{ translate.getValue('ignore.recovery.key.if.not.you') }}</p>
    </div>

    <div style="margin-top: 20px;">
        <a class="btn" href="{{ util.getChangePasswordAddress(request, model.recoveryKey.id) }}">
            {{ translate.getValue('change.password') }}
        </a>
    </div>
    {% embed './partials/footer.twig' %} {% endembed %}
</div>

</body>
</html>
